.main{
    margin:0 auto;
    width:1204px;
    /*background-color: #f1f1f1;*/
}
/*header*/
.header{
    height: 84px;
}
.header .logo{
    float: left;
    width:176px;
    height: 52px;
    margin-top:16px;
    margin-right: 85px;
}
.header .logo img{
    width:100%;/*继承父元素的宽度*/
}
.header .nav{
    float: left;
}
.header .nav li{
    float: left;
    height: 84px;
    line-height: 84px;
    margin-right:50px;
}
.header .nav li.noMargin{
    margin-right:0;
}
.header .nav li a{
    font-size: 14px;
    color: #2a2a2a;
}
.header .nav li a:hover{
    color: #2b7dd1;
}
.header .login{
    /*overflow: hidden;*/
    float: right;
}
.header .login .link{
    line-height: 84px;
    font-size: 14px;
    color: #666767;
    margin-right:30px;
}
.header .login .carInfo{
    position: relative;
    z-index:1;
    float: left;
    height: 84px;
    line-height: 84px;
}
.header .login .carInfo .car-hidden{
    position: absolute;/*绝对定位*/
    left:-150px;
    top:63px;
    display: none;
    width:324px;
    padding:0 13px;
    box-shadow:2px 2px 6px rgba(2,2,2,0.34);/*盒子阴影*/
    background-color: #fff;
    /*border:2px solid red;*/
}
.header .login .carInfo:hover .car-hidden{
    display: block;
}
.header .login .carInfo .car-hidden h3{
    line-height: 52px;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #e1e1e1;
}
.header .login .car-hidden h3 span{
    float: right;
    font-size: 12px;
    color: #7d7d7d;
}

.header .login .car-hidden .cont{

}
.header .login .car-hidden .cont .icon3{
    margin:59px auto 2px;/*上 左右  下*/
    width:68px;
    height: 68px;
    background:#9e9e9e url("../img/icon3.png") no-repeat;
    background-position: 14px 18px;
    border-radius: 50%;/*设置圆角*/
}
.header .login .car-hidden .cont .empty{
    margin:0 auto;
    width:190px;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    color: #414141;
    border-bottom: 1px solid #e1e1e1;
}
.header .login .car-hidden .cont .course{
    line-height: 74px;
    text-align: center;
    font-size: 12px;
}
.header .login .car-hidden .cont .course a{
    color: #4e91d7;
}
.header .login .car-hidden .bot{
    line-height: 68px;
    margin-top:25px;
    border-top:1px solid #e1e1e1;
}
.header .login .car-hidden .bot span{
    font-size: 12px;
    color: #7d7d7d;
}
.header .login .car-hidden .bot a{
    float: right;
    width:79px;
    height: 39px;
    line-height: 39px;
    margin-top:15px;
    text-align: center;
    font-size: 12px;
    color: #fdfdfe;
    border-radius: 5px;
    background-color: #4e91d7;
}



.header .login .car{
    margin-right: 40px;
    font-size: 14px;
    color: #666767;
    cursor: pointer;
}
.header .login .car i{
    display: inline-block;
    vertical-align: middle;
    width:24px;
    height: 22px;
    background: url("../img/icon1.png") no-repeat;
    margin-right:7px;
}
.header .login .car:hover i{
    background: url("../img/icon2.png") no-repeat;
}
.header .login .car:hover{
    color: #2b7dd1;
}


/*banner*/
.banner{
    position: relative;
    width:1204px;
    height: 360px;
}
.banner .banImg{

}
.banner .banImg li{
    display: none;
    width:1204px;
    height: 360px;
}
.banner .banImg li.active{
    display: block;
}
.banner .banImg li img{
    width: 100%;
}
.banner .sideBar{
    position: absolute;
    left:0;
    top:0;
    width:240px;
    height: 360px;
    background-color: rgba(2,0,0,.2);
}
.banner .sideBar li{
    height: 72px;
    line-height: 71px;
}
.banner .sideBar li .ban-hidden{
    display: none;
    position: absolute;
    left:240px;
    top:0;
    width:573px;
    height: 360px;
    background: url("../img/ban-bg1.jpg") no-repeat;
}
.banner .sideBar li a{
    margin:0 auto;
    display: block;
    width:170px;
    padding:0 10px;
    font-size: 14px;
    color: #fdfdfe;
    border-bottom: 1px solid rgba(255,255,255,.44);
}
.banner .sideBar li a i{
    float: right;
    font-style: normal;
    font-size: 18px;
}
.banner .sideBar li:hover .ban-hidden{
    display: block;
}
.banner .sideBar li:hover{
    background-color: rgba(11,11,11,.3);
}

.banner .sideBar li .ban-hidden dl{
    margin:32px 0 0 32px;
}
.banner .sideBar li .ban-hidden dl dt{
    font-size: 16px;
    line-height: 16px;
    color: #0b0b0b;
    padding-bottom: 7px;
}
.banner .sideBar li .ban-hidden dl dd{
    font-size: 14px;
    line-height: 14px;
    color: #4a4b4b;
    margin-top:23px;
}
.banner .sideBar li .ban-bg2{
    background: url("../img/ban-bg2.jpg") no-repeat;
}

.contList{}
.contList h3{
    line-height: 58px;
    margin-top: 19px;
    font-size: 16px;
    color: #2d2d2d;
    font-weight: normal;
}
.contList ul{
    margin-left: -65px;
}
.contList ul li{
    position: relative;
    width: 251px;
    height: 184px;
    float: left;
    margin-left: 65px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.3),-1px -1px 2px rgba(0,0,0,.2);
}
.contList ul li img{
    width: 100%;
}
.contList ul li .listTop{
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../img/whiteBg.png") no-repeat;
    padding: 13px 15px 16px;
    transition: all .3s;
}
.contList ul li .listTop:hover{
    bottom: 42px;
}
.contList ul li .listTop h4{
    font-weight: normal;
    line-height: 23px;
    font-size: 14px;
    color: #1e1e1e;
}
.contList ul li .listTop p{
    line-height: 14px;
    font-size: 12px;
    color: #9e9d9d;
    margin-top: 6px;
}
.contList ul li .listBottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 42px;
    font-size: 12px;
    background: #fff;
}
.contList ul li .listBottom .money{
    color: #c71b1b;
    padding-left: 17px;
}
.contList ul li .listBottom .study{
    float: right;
    padding-right: 13px;
}
/*web*/
.web{
   width:100%;
    padding:34px 0 54px;
    margin-top:28px;
    background-color: #f3f5f7;
}
.web .web-left{
    float: left;
    width:224px;
    height: 380px;
    margin-right: 17px;
}
.web .web-left img{
    width:100%;
}
.web .apply{
    float: left;
    width:397px;
}
.web .apply a{
    display: block;
}
.web .apply .marginBot{
    margin-bottom: 11px;
}
.web .learn{
    float: left;
    width:251px;
    margin-left: 17px;
}
.web .learn ul{
    margin-left:0;
}
.web .learn li{
    margin-left:0;
}
.web .learn li.marginBot{
    margin-bottom: 11px;
}
.web .listInfo{
    height: 380px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(2,2,2,.27);
}
.web .listInfo li{
    box-shadow: none;
}
.web .listInfo li.infoRight{
    width:211px;
    height: 30px;
    line-height: 30px;
    margin:0 20px;
}
.web .listInfo li.paddingTop{
    padding-top:17px;
    border-top:1px solid red;
}
.web .listInfo li.infoRight i{
    float: left;
    width:4px;
    height: 4px;
    margin-top:15px;
    margin-right:8px;
    background-color: #636363;
}
.web .listInfo li.infoRight a{
    float: left;
    width:190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #1e1e1e;
}









